<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Logica.Properties.Settings.hospitalesConnectionString"
            connectionString="Data Source=STEPHI-PC\SQLEXPRESS;Initial Catalog=hospitales;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>